.contacto {
  height: 50vh;
  background-color: #2b2a28;
  padding: 1%;
  text-align: center;
}
.contacto__container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp{
  display: inline-block;
  background-color: transparent;

}

.instagram{
  display: inline-block;
  background-color: transparent;
}

.instagram img{
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  max-width: 200%;
}

.instagram img:hover {
  transform: scale(1.05);
}

.whatsapp img{
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
  max-width: 200%;
}

.whatsapp img:hover {
  transform: scale(1.05);
}
