.socios {
  min-height: 100vh;
  background-color:#e2b36b;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
;
}

.socios h1{
  text-shadow: rgba(0, 0, 0, 0.626) 5px 5px 4px;
  color: black;
  font-weight: bold;
}

.socios_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;

}

.socios_card{
  background-color: #3a3939;
  border: solid white 2px;
  padding: 50px;
  color: white;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  box-shadow: rgba(0, 0, 0, 0.363) 12px 12px 6px;
  border-radius: 20px;
}

.socios_card img{
  object-fit: cover;
  border: solid white 3px;
  margin: 0px 10px 0px 0px;
}

.socios_card h2{
  font-size: 20px;
}

.socios_card p{
  font-size: 15px;
  font-style: normal;
}