.promo-pop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  max-width: 320px;
  z-index: 1000;
  background: #2b2a28;
  border: solid rgb(34, 33, 33);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  padding: 1rem;
  border:  8px solid #ddb975;
  border-style:outset
}

.promo-pop.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.promo-pop.hide {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.promo-pop-close {
  position: absolute;
  top: 6px;
  right: 1px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}




.promo-pop-content{

  color: aliceblue;
  text-align: center ;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
}

@media (max-width: 780px) {
  .promo-pop-content{
    font-size: 1.3em;
  }
}