body{
    margin: 0;
    padding: 0;
}


.sobrenosotros{
    color: black;
    padding: 70px 20px;
    background-image: url("/img/Bg.png");
    background-size:cover;
    background-position: center;
    background-attachment: fixed; 
    height: 50vh;
    color: white;
    text-align: center;
    
}

h1{
    font-size: 40px;
    
}