.productos {
  height: 110vh;
  background: linear-gradient(to top, white 90%, #f9f9f9);
  color: rgb(62, 37, 4);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.productos h1 {
  letter-spacing: 8px;
  font-style: bold;
  font-size: 4em;
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(226, 143, 35), #493105);
  background-clip: text;
  color: transparent;
  
}

.productos h1::before,
.productos h1::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: black;
  margin: 0 10px;
  
}


.categorias-slider {
  padding: 0;
  margin: 50px auto;
  font-size: 1.3em;
  font-weight: bold;
  width: 90%;
 box-sizing: border-box;
}

.categorias-slider .slick-list {
  padding-bottom: 50px;
  background-color: #ffffff;
  
}
.categoria {
  width: 200px !important;
  height: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin: 0 auto;
  box-sizing: border-box;
}

.categoria:hover {
  box-shadow:
    1px 20px 12px rgba(0, 0, 0, 0.5),
    -10px -10px 10px white;
  transition: 0.2s ease-in-out;
}


#bb img{
  width: 90%;
  height: 150px; 
  padding: 10px;
  object-fit: cover;
  border-radius: 20px;
}

.categoria img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


@media (max-width: 1024px){
  .custom-arrow{
    display: none !important ;
  }
  .categorias-slider{
    width: 100% !important;
    margin: 40px auto;
  }
  
  .categoria{
     box-shadow:
    1px 20px 12px rgba(0, 0, 0, 0.5),
    -10px -10px 10px white;
  transition: 0.2s ease-in-out;
  }

}

@media (max-width: 450px) {
  
  .productos {
    height: 100%;
    background-color: #f9f9f9;
    color: rgb(62, 37, 4);
    text-align: center;
  }

  .productos h1{
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  .categorias-slider{
    padding: 10px;
    margin: 0px 0px 0px 0px!important;
  }
  .categoria{
    width: 90%;
    height: auto;
     box-shadow:
    1px 20px 12px rgba(0, 0, 0, 0.5),
    -10px -10px 10px white;
  transition: 0.2s ease-in-out;
  }
  
  .categoria img{
    height: 140px;
  }
  .custom-arrow {
 display: none !important;
  }


}

@media (min-width:2560px){
  .productos h1{
    font-size: 6em;
    margin-top: 300px;
    padding-top: 100px;
  }

  .categorias-slider {
  padding: 0;
  margin: 50px auto;
  font-size: 1.7em;
  font-weight: bold;
  width: 100%;
 box-sizing: border-box;
 height: max-content;
}


}
