.blog {
  min-height: 100vh;
  background-color: #1e1e1c;
  color: #9e9c98;
  text-align: center;
}
.container-main {
  gap: 10px;
  padding: 5%;
}

.cards {
  color: rgb(19, 19, 19);
  width: 90%;
  height: 100%;
  min-height: 65vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 12px 12px 7px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  margin: 30px 20px 90px 20px;
}
.textos {
  margin: 12px 20px;
  text-align: start;
  
}

.textos h1{
  font-size: 1.5em;
  border-bottom:#1e1e1c solid 3px;
}
.textos p{
  font-weight: 300;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.cards:hover {
  transition: 0.2s ease-in-out;
}
.cards img {
  min-width: 45%;
  height: auto;
  border-right: #1e1e1c solid 10px;
}

.container-main :nth-child(2){
    .textos p{
        font-size: 1.9rem;
    }
}


@media (max-width: 850px) {

  .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    height: 100%;
  }


  .cards img{
    border-radius: 30px;
     max-width: 45%;
    width: 100%;
    margin-top: 20px;
    border: none;
  }
}
