
.todo{
    background-color: #FFF1D7 ;
     display: flex;
  flex-direction: column;
}

.sobre-nosotros{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    color: #efeeee;
    background-color: #1e1e1c ;
}
.sobre-nosotros h1{
    font-size: 2.5rem;
  font-family: "Montserrat", serif;
  
  
    font-optical-sizing: auto;
    text-align: center;
}
.diego{

    padding: 5%;
    margin-top: 5%;
    width:30vh;
    height: auto;
    text-align: center;
}
.diego img{
    max-width:100%;
    border-radius: 20px;
    border: #efeeee solid 3px;
    box-shadow: 2px 2px 30px 10px #a77031;
}

h1{
    margin-top: 2%;
}

.texto p{
    color: black;
    margin: 10% 0%;
    padding: 5% 10%;
}


.pc{
    box-shadow: 2px 2px 30px 10px #a77031;
    background-color: rgb(192, 185, 185);
}