

.footer{
    color: white;
    text-align: center;
    background-color: #2b2a28;
    padding-bottom: 0.5%;
    border-top: solid rgb(250, 220, 153);
    width: 100% ;
}

.footer p{
    margin: 0;
}