

.producto-detalle{
    background-color: rgb(220, 215, 220);
    height: 110vh;

   align-items: center;

}

.detalle-contenido{
     margin: 5%;
     padding: 3%;
     border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 30vw;

}




.imagen-unica {
   height: 30vw;
    width: 30vw;
    min-width: 30vw;
    border-radius: 30px;
    margin-right: 20px;
}



.slider-detalle{
    width: 40%;
    padding-top: 20px;
    border-radius: 20px;
    position: relative;
  background-color: rgb(46, 45, 46);
}



.slider-detalle img, 
.slider-detalle video {
  width: 80% ;
   height:30vw;

  object-fit: contain;
}



.info{
    color: black;
   display: flex;
   flex-direction: column;

   align-items: start;
   justify-content: center;
   padding: 0% 5% 5% 5%;
   border-radius: 30px;
   max-width: 65vh;
   overflow-wrap: break-word;
}

.cards h1, p{
    margin: 10px 0px 20px 0;
}


.info h1{
    font-size: 3vw; 
}
.info p{

    font-size: 1.5vw;
     max-width: 350px;
    color: rgb(24, 25, 25);
    margin-right: 10px ;
}

.info #precio{
    font-size: 2em;
}


.wasap{
    background-color: #141413;
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-size: 2vw;
}

.imagen-unica img{
    height: 29vw;
    width: 100%;
    border-radius: 20px;
    border: solid 10px #4c4b4a;
}


.video-wrapper{
    height: auto;
    min-height: 20vh;
    width: 100%;
    border-radius: 20px;
}

.volver{
    margin-top: 30px;
    background-color: rgb(254, 254, 254);
    color: #141413;
    padding: 2%;
    border-radius: 7px;
    border: solid 2px;
}

@media (max-width: 1030px){
    .detalle-contenido{
        margin-top: 10%;
        display: flex;
        flex-wrap: nowrap;
    }

    .slider-detalle{
        height: 120%;
    }

    .info{
        margin-top: 10%;
        margin-left: 4%;
    }
}

@media (max-width: 450px) {

    .producto-detalle{
    background-color: rgb(220, 215, 220);
    height: 130vh;

     align-items: center;

}
    .detalle-contenido{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 130vw;
        align-items: center;
    }

    .slider-detalle{
    position: relative;
    padding-top: 7%;
    width: 80%;  
}


.slider-detalle img{
    height: auto;

}

  .media-wrapper{
    height: 20vh;
    width: 100%;
    border-radius: 20px;
}



    .imagen-unica {
   height: 50vw;
    width: 50vw;
    min-width: 30vw;
    border-radius: 30px;
    margin-right: 20px;
    
}

.info{
   display: flex;
    
   flex-direction: column;
   align-items: start;
   justify-content: center;
   min-width: 50vw;
   padding: 2% 10% 5% 5%;
   border-radius: 30px;
}

}