

.producto-detalle{
   background-color: rgb(220, 215, 220);
    min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.detalle-contenido {
    margin-top: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 100%;
}





.imagen-unica {
   height: 30vw;
    width: 30vw;
    min-width: 30vw;
    border-radius: 30px;
    margin-right: 20px;
}



.slider-detalle {
    margin-top: 2%;
  width: 30%;
  max-width: 550px;
  background-color: rgb(46, 45, 46);
  border-radius: 20px;
  padding: 10px;
}


.slider-detalle img,
.slider-detalle video {
  width: 100%;
  height: auto;
  max-height: 45vw;
  object-fit: contain;
}


.info{
    color: black;
   display: flex;
   flex-direction: column;

   align-items: start;
   justify-content: center;
   padding: 0% 5% 5% 5%;
   border-radius: 30px;
   max-width: 65vh;
   overflow-wrap: break-word;
}

.cards h1, p{
    margin: 10px 0px 20px 0;
}


.info h1{
    font-size: 3vw; 
}
.info p{

    font-size: 1.5vw;
     max-width: 350px;
    color: rgb(24, 25, 25);
    margin-right: 10px ;
}

.info #precio{
    font-size: 2em;
}


.wasap{
    background-color: #141413;
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-size: 2vw;
}

.imagen-unica img{
    height: 29vw;
    width: 100%;
    border-radius: 20px;
    border: solid 10px #4c4b4a;
}


.video-wrapper{
    height: auto;
    min-height: 20vh;
    width: 100%;
    border-radius: 20px;
}

.volver{
    margin-top: 30px;
    background-color: rgb(254, 254, 254);
    color: #141413;
    padding: 2%;
    border-radius: 7px;
    border: solid 2px;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
}

@media (max-width: 1030px){
    .detalle-contenido{

        display: flex;
        flex-wrap: nowrap;
    }

    .slider-detalle{
        height: 120%;
    }

    .info{

        font-size: small;
        margin-left: 4%;
    }

.info h1{
    font-size: 2rem;
}

.info p{
    font-size: 1rem;
}

    .wasap{
    background-color: #141413;
    border-radius: 10px;
    padding: 3% ;
    color: white;
    font-size: 2vw;
    padding-top: 5%;
}



}

@media (max-width: 450px) {

    .producto-detalle{
    background-color: rgb(220, 215, 220);


     align-items: center;

}
    .detalle-contenido{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        align-items: center;
    }

    .slider-detalle{
    position: relative;
    padding-top: 7%;
    width: 80%;  
}


.slider-detalle img{
    height: auto;

}

.media-wrapper {
  width: 100%;
  height: auto;
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 9/16; /* vertical */
  border-radius: 20px;
}



    .imagen-unica {
   height: 50vw;
    width: 50vw;
    min-width: 30vw;
    border-radius: 30px;
    margin-right: 20px;
    
}

  .imagen-unica img{
   height: 50vw;
    width: 50vw;
    min-width: 30vw;
    border-radius: 30px;
    margin-right: 20px;
    
}

.info{
     

   display: flex;
    font-size: 0.7rem;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   min-width: 50vw;
   padding: 2% 10% 5% 5%;
   border-radius: 30px;
}

.info h1{
    font-size: 2rem;
}

.info p{
    
    font-size: 1.3rem;
}

.botones{
    display: flex;
    text-align: center;
    flex-direction: row;

    gap: 50px;
}

.wasap{
    background-color: #141413;
    border-radius: 10px;
    padding: 10% ;
    color: white;
    font-size: 3vw;
    text-align: start;
}



.volver{
    margin-top: 5px;
    padding: 5%;
}

}