

.producto-detalle{
   background-color: rgb(220, 215, 220);
    min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.detalle-contenido {
    margin-top: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 100%;
}





.imagen-unica {
   height: 30vw;
    width: 30vw;
    min-width: 30vw;
    border-radius: 30px;
    margin-right: 20px;
}



.slider-detalle {
    margin-top: 2%;
  width: 100%;
  max-width: 450px;
  background-color: rgb(46, 45, 46);
  border-radius: 20px;
  padding: 10px;
}


.slider-detalle img,
.slider-detalle video {
  width: 100%;
  height: auto;
  max-height: 45vw;
  object-fit: contain;
}


.info{
    color: black;
   display: flex;
   flex-direction: column;
    white-space: pre-line;
   align-items: start;
   justify-content: center;
   padding: 0% 5% 5% 5%;
   border-radius: 30px;
   max-width: 65vh;
   overflow-wrap: break-word;
}

.cards h1, p{
    margin: 10px 0px 20px 0;
}


.info h1{
    font-size: 3vw; 
}
.info p{

    font-size: 1.5vw;
     max-width: 350px;
    color: rgb(24, 25, 25);
    margin-right: 10px ;
}

.info #precio{
    font-size: 2em;
}


.wasap{
    background-color: #141413;
    border-radius: 10px;
    padding: 2%;
    color: white;
    font-size: 2vw;
}

.imagen-unica img{
    height: 29vw;
    width: 100%;
    border-radius: 20px;
    border: solid 10px #4c4b4a;
}


.video-wrapper{
    height: auto;
    min-height: 20vh;
    width: 100%;
    border-radius: 20px;
}

.volver{
    margin-top: 30px;
    background-color: rgb(254, 254, 254);
    color: #141413;
    padding: 2%;
    border-radius: 7px;
    border: solid 2px;
}

.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
}


.pr{
    margin-top: 10%;
    font-size: 3em;
    color: #141413;
}

.slider-detalle-rec {
    margin-top: 2%;
    margin-bottom: 10%;
  width: 100%;
  max-width: 550px;
  background-color: rgb(46, 45, 46);
  border-radius: 20px;
  padding: 10px;

}


.slider-detalle-rec img,
.slider-detalle-rec video {
  width: 100%;
  height: auto;
  max-height: 45vw;
  object-fit: contain;
}

.slider-detalle.slick-slider-rec {
  margin-top: 30px;
  margin-bottom: 50px;

}

.card-relacionado {

  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  display: block;
}

.card-relacionado:hover {
  transform: scale(1.05);
}

.card-relacionado img {
  width: 12 0%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.card-relacionado p {
  font-size: 14px;
  color: white;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slick-prev:before, .slick-next:before {
  color: #333 !important;
}

.slick-dots li button:before {
  color: #333 !important;
}

@media (max-width: 1030px){
    .detalle-contenido{

        display: flex;
        flex-wrap: nowrap;
    }

    .slider-detalle{
        height: 120%;
    }

    .info{

        font-size: small;
        margin-left: 4%;
    }

.info h1{
    font-size: 2rem;
}

.info p{
    font-size: 1rem;
}

.imagen-unica{
margin-left: 30px;

}

    .wasap{
    background-color: #141413;
    border-radius: 10px;
    padding: 3% ;
    color: white;
    font-size: 2vw;
    padding-top: 5%;
}



}

@media (max-width: 450px) {

    .producto-detalle{
    background-color: rgb(220, 215, 220);


     align-items: center;

}
  .detalle-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


.pr{
    font-size: 1.5em;
    text-align: center;
    padding: 40px 0px;
    
}
  .slider-detalle {
        display: block !important;
        width: 80% !important;
        height: auto !important;
        min-height: 250px; 
        overflow: visible !important;
    }

    .slider-detalle .slick-list,
    .slider-detalle .slick-track {
        height: auto !important;
        min-height: 200px;
    }

.slider-detalle img,
    .slider-detalle video {
       
        display: block !important;
        width: 100% !important;
        height: auto !important;
        max-height: 60vw !important;
        object-fit: contain;
        visibility: visible !important;
        opacity: 1 !important;
    }

    .slider-detalle p{
        text-align: center !important;
        margin-left: 35px;
    }

.card-relacionado img{
    border-radius: 20px !important;
}

.recomendados-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-detalle-rec{
    width: 50%;
}



.media-wrapper {
        display: block !important;
        width: 100%;
        height: auto;
    }

.video-wrapper {
  width: 100%;
  aspect-ratio: 9/16; 
  border-radius: 20px;
}



  .imagen-unica, 
    .imagen-unica img {
        width: 85vw;
        height: 85vw;
        margin-right: 40px;
        min-width: unset;
    }

.info {
        width: 95%;
        padding: 20px;
        align-items: center;
        text-align: center;
        min-width: unset;
    }

.info h1 {
        font-size: 1.8rem;
    }

    .info p {
        font-size: 1.1rem;
        max-width: 100%;
        margin-right: 0;
    }

.botones {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .wasap {
        font-size: 4vw;
        padding: 15px;
        text-align: center;
    }

    .volver {
        width: 94%;
        margin-top: 10px;
    }

    .card-relacionado img {
        height: 140px;
    }
}