.inicio {
  margin-top: 10px;
  margin-bottom: 140px;
  height: 100vh; 
  display: grid; 
  grid-template-rows:auto auto; 
  grid-template-columns: repeat(2, 1fr); 
  justify-content: center; 
  align-items: center;
  color: black;
  background: 
  linear-gradient(to bottom, rgb(207, 206, 206) 58%, #502E07 1%, #ffffff 59%); 
}

/* Posicionamiento en la pirámide */
.imagen {
  grid-column: 1; /* Primera columna */
  grid-row: 1; /* Primera fila */
}

.imagen img{
  margin: 0;
  width: 21.5pc;
}

.slogans {
  grid-column: 2; /* Segunda columna */
  grid-row: 1; /* Primera fila */
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: -200px;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
  text-shadow: 3px 2.5px 3.7px rgba(0, 0, 0, 0.5);;
}


.slogan1 {
  font-size: 3rem;
  margin: 0;
  text-align: start;
  color: black;
}
.slogan2{
  font-size: 3rem;
  margin-right: 50px;
  text-align: end;
  color: black;
  margin-left: -150px;
}

.textoyboton {
  grid-column: 1 / span 2; /* Ocupa ambas columnas */
  grid-row: 2; /* Segunda fila */
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.textoyboton{
  text-align: end ;
  padding-bottom: 32vh;
  background: linear-gradient(to bottom, #ffffff 55%, #FFF1D7);
  transition: background 0.5s ease-in-out;
}

.textos{
  font-size: 1.5em;
  font-family: "Montserrat", serif;
  font-weight: bold;
}

.texto1{
  margin-bottom: 1px;
}

.texto2{
  margin: 0;
  text-align: end;
}


.boton {
  margin-top: 10px;
  padding: 5px 50px;
  background-color: #42403E;
  color:#DDB975;
  border:solid 7px;
  cursor: pointer;
  border-radius: 0%;
  border-color: #DDB975;
  font-size: 1.7em;
  font-family: "Montserrat", serif;
  box-shadow: 9px 9px 2px #42403E;
}

.boton:hover {
  background-color: #DDB975;
  border: #42403E solid 7px;
  color:#42403E;
}

.boton:active{
  background-color: #42403E;
  color:#DDB975;
  border-color: #DDB975;
}


@media (max-width: 426px) {
  .imagen{
    display: none;
  }
}