.inicio {
  margin-bottom: 140px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  color: black;
  background: linear-gradient(
    to bottom,
    rgb(207, 206, 206) 58%,
    #502e07 1%,
    #ffffff 59%
  );
}

.imagen {
  grid-column: 1;
  grid-row: 1;
}

.imagen img {
  margin: 0;
  width: 19.7pc;
}

.slogans {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "Montserrat", serif;
  font-style: normal;
  font-optical-sizing: auto;
  text-shadow: 3px 2.5px 3.7px rgba(0, 0, 0, 0.5);
  margin-left: -150px;
}

.slogan1 {
  font-size: 3rem;
  margin: 0;
  text-align: start;
  color: black;
}
.slogan2 {
  font-size: 3rem;
  margin-right: 50px;
  text-align: end;
  color: black;
  margin-left: -150px;
}

.textoyboton {
  grid-column: 1 / span 2;
  grid-row: 2;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.textoyboton {
  text-align: end;
  padding-bottom: 35vh;
  background: linear-gradient(to bottom, #ffffff 55%, #f9f9f9);
  transition: background 0.5s ease-in-out;
}

.textos {
  font-size: 1.5em;
  font-family: "Montserrat", serif;
  font-weight: bold;
}

.texto1 {
  margin-bottom: 1px;
}

.texto2 {
  margin: 0;
  text-align: end;
}

.boton {
  margin-top: 10px;
  padding: 5px 50px;
  background-color: #42403e;
  color: #ddb975;
  border: solid 7px;
  cursor: pointer;
  border-radius: 0%;
  border-color: #ddb975;
  font-size: 1.7em;
  font-family: "Montserrat", serif;
  box-shadow: 9px 9px 2px #42403e;
}

.boton:hover {
  background-color: #ddb975;
  border: #42403e solid 7px;
  color: #42403e;
}

.boton:active {
  background-color: #42403e;
  color: #ddb975;
  border-color: #ddb975;
}

@media (max-width: 376px){
  .slogans {
    padding: 100px 0px 100px 30px !important;

}

@media (max-width: 321px){
 .slogans{
  width: auto !important;
  padding: 50px 0 50px 0 !important;
 }


}
}
@media (max-width: 426px) {

  .inicio{
    margin-bottom: 0;
  }

   .imagen img{
    display: none;
   }

  

  .slogans{
    box-sizing: border-box;
    width:max-content;
    padding: 100px 20px 100px 20px;
  }

  .slogan1,.slogan2{
    font-size: 2rem !important;
  }

  .slogan2{
    margin: 10px 0px -10px 30px ;
  }

  .textos{
    border-top: solid #502e07 2px;
    
  }

  .textoyboton{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

  }

  .textoyboton, .texto2{
    text-align: center;

  }

  .boton{
    margin-top: 40px;

  }
}

@media (max-width: 1024px){


.slogan1, .slogan2{
  margin-left: 20px;
  margin-right: 15px;
  font-size: 2.5rem;
}
}