#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0%;
  background-color: #2b2a28;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #ffffff;
  text-align: center;
  border-bottom: 3.5px solid;
  border-color: #ddb975;
  margin: 0;
  
  letter-spacing: 1.3px;
  height: 70px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.logo {
  margin: 0px;
  padding: 0px;
  width: 85.24px;
  height: 80.17px;
}

.logo img {
  width: 85%;
  height: 85%;
  display: block;
  object-fit: cover;
}

.nav-links {
  display: inline-flex;
  list-style: none;
  padding-top: 21px;
  gap: 80px;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
 
}

.nav-links li {
  cursor: pointer;
  font-size: 1em;
  position: relative;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Espacio debajo del texto */
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: white; /* Color de la línea */
  transition: transform 0.2s ease;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
}

.nav-links li:hover::after {
  width: 100%; /* La línea se expande completamente */
  transform: translateX(-50%) scaleX(1); /* Expande la línea desde el centro */
  left: 50%;
}

.nav-links li:active {
  color: #ddb975;
  transition: none;
  position: relative;
}

.droptop-menu{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  background-color: #2b2a28e6;
  padding: 10px 0;
  border: 3px solid #ddb975;
  z-index: 999;
  flex-direction: column;
  min-width: 180px;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease, backg 0.3s ease;
  transform: translateY(10px);
}

.droptop-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s;
}

.droptop-menu a:hover {
  background-color: #ddb975;
  color: black;
  transition:all 0.3s ease ;

}

.nav-links li:hover > .droptop-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}



.lupa {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  padding: 10px;
}

.lupa img {
  width: 100%;
  height: 5px 0px;
  object-fit: cover;
  cursor: pointer;
  background: none;
}

@media (max-width: 1024px) {
  
  .droptop-menu{
        display: none;
  }

  .nav-links li:active > .droptop-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
}

@media (max-width: 780px) {
  .nav-links {
    display: none;
  }

  .droptop-menu{
    display: none;
  }


  .open-sidebar-button {
    display: block;
    background-color: transparent;
  }

  .side-bar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #2b2a28;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: right 0.3s ease-in-out;
  }

  .side-bar.active {
    right: 0;
  }

  .side-bar .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    
  }

  .side-bar .nav-links li {
    width: 100%;
    border-style: outset;
    
    
  }

  .side-bar .nav-links li a {
    display: block;
    width: 20%;
    padding: 15px;
    color: white;
    
  }

  .close-sidebar-button {
    display: block;
    position: absolute;
    top: 20px;
    left: 200px;
    padding: 5px;
    background-color: transparent;
  }

  .lupa {
    display: none;
  }
}

@media (max-width: 1000px){
  .nav-links{
    gap: 30px;
    font-size: 0.9em;
  }
}