html {
  scroll-behavior: smooth;
}

.tienda {
  min-height: 100vh;
  color: #2b2a28;
  text-align: left;
  background: rgb(192, 192, 192);
  background-blend-mode: overlay;
  overflow-x: hidden;
}

/*productos top*/

.productosTop{
  padding: 2% 0px;
  width:100%;
  max-height: 100vh;
  background-color: #504e4a;
  border-top: solid white 20px;
  border-bottom: solid white 20px;
  border-style:double;
  ;
}



.productosTop h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: white;

  background-color: #2b2a2a;
  padding: 20px 0px;
}

.productosTop img{
  width: 90%;
  border: solid #ffffff 7px ;
  border-radius: 20px;

}

.slider-productos{
  margin: 0px 20px;
  
}

.custom-arrow{
  margin: 0px 30px;
}


.title {
  padding-left: 2%;
  font-family: "Jost";
  text-align: center;
  
}
.tienda-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tienda p {
  padding: 20px;
}
.categoria-section {
  text-align: center;
  margin: 10px 0px;
   font-family: "Jost", sans-serif;
}

.categoria-section h2 {
  margin: 30px;
  font-family: "Jost", sans-serif;
}

.productos-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  
}



.producto-container {
  padding: 20px;
  color: #2b2a28;
  width: 70%;
 border-radius: 20px;
  background-color: rgb(192, 192, 192);
  margin: 20px;
}

.producto-container h2{
  font-size: 1.2em;
  padding: 20px 0;
  margin: 10px 0 0 0 ;
 font-family: "Jost", sans-serif;
}


.producto-container:hover{
  box-shadow:
    10px 25px 20px rgb(88, 86, 86);
  transition: 0.2s ease-in-out;
  background-color: #2b2a29;
  top: 20px;
  color:#ddb975;
}





.producto-container img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  max-width: 100%;
  border: 3px solid #484747e6;
  margin: 8px 0px;
  cursor: pointer;
}




.slider-item {
  display: flex;
  flex-direction: column ;
  align-items: center;
  gap: 8px;
  text-align: center;
  
}

.slider-item img {
  max-width: 300px;
  border-radius: 8px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

@media (min-width: 2000px) {
  .productosTop{
    height: 90vh;
  }
}
@media (max-width: 1030px) {
  .productos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .productosTop{
    height: 87vh;
    text-align: center;
    align-items: center;
  }

  .productosTop h1{
  font-size: 2rem;
}

.producto-container{
  box-shadow:
    10px 25px 20px rgb(88, 86, 86);
  transition: 0.2s ease-in-out;
  background-color: #2b2a29;
  top: 20px;
  color:#ddb975;
}

  .productosTop img{
    width: 50vh;
  }

}

@media (max-width: 450px) {

.productosTop{
  margin: 0;
  padding: 0;
  height: 80vh;
}


.productosTop h1{
  font-size: 1.7rem;
}

  .productos-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .producto-container img {
  width: 200px;
}



}
