.tienda {
    min-height: 100vh;
    background-color: #fff;
    color: #2B2A28;
    text-align: left;

}
h1{
    padding-left: 2%;
}
.tienda-container{
    margin:3% 5%;
    display: flex;
    flex-direction: column;
}

.tienda p{
    padding: 20px;  
}
.category{
    height: 50vh;
}
.producto-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


@media (max-width: 450px){
   
}