.tienda {
  min-height: 100vh;
  background-color: #fff;
  color: #2b2a28;
  text-align: left;
}
h1 {
  padding-left: 2%;
}
.tienda-container {
  margin: 3% 5%;
  display: flex;
  flex-direction: column;
}

.tienda p {
  padding: 20px;
}
.category {
  height: 50vh;
}
.producto-container {
    display: flex;
    width: 150px;
    overflow: hidden;
}

.producto-container img{
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.prev{
    margin: 2% 0%;
    background-color: aqua; 
}

.slick-track{
    position:sticky;
}

.slick-slide img {
    width: 100%;
    max-width: 200px;
}
